#product_code{
		position: absolute;
		width: 40%;
		font-size: 150%;
		top: 40%;
		left: 30%;
		border : 0;
		background: white !important;
		border: 0;
		/*border-bottom : 1px solid;
		border-right : 1px solid;*/
	}
	
	#product_code:focus{
		outline: none;
		background: white !important;
		border-bottom : 1px solid green;
		border-right : 1px solid green;
	}
	.btn_validate{
		position: absolute;
		width: 40%;
		font-size: 150%;
		top: 48%;
		left: 30%;
	}